h1 {
    text-shadow: 3px 2px 4px #0e3936;
}

  input[type="text"] {
    width: 100%;
}

#boutonCreationUtilisateur{
  margin:auto;
}

#detailAdherent{
  width: 90%;
}
tr{
  height: 1px; 
  border: 1px solid #ffffff;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.25vh;
}

td{
    border-bottom: 1px solid #000000;
    text-align: center;
    vertical-align: middle;
    font-size: 1.25vh;
}

thead,tfoot {
  background-color: #333;
  color: #fff;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #da9617; 
  border-color: #13413e;
}

button.btn-outline-success:active{
  color: #fff;
  background-color: #bd7f0c !important; 
  border-color: #247a75 !important;
}

#boutonPrecedentRecherche,#boutonSuivantRecherche{
  color: #fff;
  background-color: #2ca7a0 !important; 
  border-color: #aa7617 !important;
}

#boutonPrecedentRecherche:hover,#boutonSuivantRecherche:hover{
  color: #fff;
  background-color: #1e6661 !important; 
  border-color: #da9617 !important;
}

#boutonPrecedentRecherche:active,#boutonSuivantRecherche:active{
  color: #fff;
  background-color: #247a75 !important; 
  border-color: #bd7f0c !important;
}

#boutonsListe{
  margin-right: -1em;
}
#boutonsRecherche{
  margin-right: -1em;
}
