/* Mise en forme de la page enregistrement des prêts */

body {
    background-color: #E3E3E3;
}

#formPret {
    text-align: center;
    background-color: rgb(241,234,219);
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 70px;
    padding-top: 30px;
}

label {
    display: inline-block;
    width: 20%;
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: bold;
}

[type="text"] {
    width: 200px;
}

[type="submit"] {
    margin-right: 30px;
    background-color: white;
    border: none;
    font-weight: bold;
    padding: 10px 50px;

}

[type="reset"] {
    background-color: white;
    border: none;
    font-weight: bold;
    padding: 10px 50px;
}

[type="button"] {
    background-color: white;
    border: none;
    font-weight: bold;
    padding: 10px 50px;
}

[type="submit"]:hover,[type="reset"]:hover,[type="button"]:hover  {
    box-shadow: 0px 1px black;
    transform: scale(1.1);
    transition-timing-function: ease-in-out;
}

.btnPret {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    padding-bottom: 30px;
}

.btnPret input {
    margin-right: 10px;
}

.valid {
    box-shadow: 0 0 2px 2px rgb(0, 190, 0);
}

.invalid {
    box-shadow: 0 0 2px 2px red;
}

/* Mise en forme de la page liste des prêts */

#listePret {
    text-align: center;
    background-color: rgb(241,234,219);
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 70px;
    padding-top: 30px;
}

#table {
    width: 100%;
    margin-top: 30px;
  }

#table th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#table th {
    background-color: #4CAF50;
    color: white;
}
/* Bouton pour revenir sur  la page enregistrement des prets */
#retourArriere {
    background-color: rgb(241,234,219);
    margin-left: 50px;
    margin-top: 30px;
    padding: 5px 50px;
    border-color: #E3E3E3;
}

/* Bouton pour changer de page vers la liste des prets */
#voirListe {
    background-color: rgb(241,234,219);
    margin-left: 50px;
    margin-top: 30px;
    padding: 5px 50px;
    border-color: #E3E3E3;
}

/* MediaQueries pour la page enregistrement des prets */

@media screen and (max-width: 1111px) {
    label {
        display: inline-block;
        width: 200px;
    }

    .btnPret {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .btnPret input {
        width: 40%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}


@media screen and (max-width: 600px) {

    label {
        width: 100%;
    }

    [type="text"] {
        margin-bottom: 10px;
    }

    .btnPret {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .btnPret input {
        width: 70%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    #voirListe {
        width: 70%;
        margin-right: 15%;
        margin-left: 15%;
        padding: 15 50px;
    }

    nav {
        width: 100%;
    }
}



/* MediaQueries pour la page liste des prets */

@media screen and (max-width: 624px) {

    #retourArriere  {
        width: 70%;
        margin-right: 15%;
        margin-left: 15%;
        padding: 15px 50px;
    }
    
    #listePret  {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    
}

@media screen and (max-width: 500px) {

    .nom,
    .prenom,
    #liste td:nth-last-child(1),
    #liste td:nth-last-child(2)
    {
        display: none;
    }
}

